<!--
Hemant 10/01/2024 Sales / Profit Per Store Report
Hemant 10/02/2024 Sales / fix  for percent calculation in Profit Per Store Report
Hemanth 10/10/2024 preview and print changes added
Hemanth 10/23/2024 fix for sales by salesman checkbox
-->
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Sales / Profit Per Store Report";
}

@using System.Text.Json

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12">

        <div class="form-horizontal">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            From
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtFromDate" class="form-control activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            To Date
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtToDate" class="form-control activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="mt-5px">
                        <input type="checkbox" id="cbFillFromToDates" checked /> <span>All Dates</span>
                        <input type="button" value="Last Month" class="formsGlobalUniqueBtn btnGetLastMonthDates" />
                        <input type="button" value="Last Week" class="formsGlobalUniqueBtn btnGetLastWeekDates" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Customer
                        </label>
                        <div class="col-sm-8">
                            <div class="autocomplete-dropdown">
                                <div id="CustomerCodesForAutofill" class="d-none">@Html.Raw(JsonSerializer.Serialize(ViewBag.CustomerCodes))</div>
                                <input type="text" id="txtCustomerCode" class="form-control activateFormRefreshBtn" placeholder="Search..." disabled="disabled">
                                <div id="autocomplete-list1" class="autocomplete-items"></div>
                            </div>
                            <div class="customerCodeSearchDiv">
                                <button class="formsGlobalUniqueBtn customerCodeSearchBtn1 showbsmodal activateFormRefreshBtn" data-modal-id="selectCustomerAccModal" data-bs-toggle="modal" data-bs-target="#selectCustomerAccModal">...</button>
                            </div>
                            <input type="checkbox" id="chkAllCustomers" name="chkAllCustomers" checked="checked" /> All Customers
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-6">
                            Style Starting With
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control activateFormRefreshBtn" id="txtFromStyle" name="txtFromStyle" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-6">
                            Style That Contains
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control activateFormRefreshBtn" id="txtToStyle" name="txtToStyle" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Vendor
                        </label>
                        <div class="col-sm-8">
                            <select id="cmbVendor" name="cmbVendor" class="form-control">
                                @{
                                    if (ViewBag.VenderTypes != null)
                                    {
                                        foreach (var cast_code in ViewBag.VenderTypes)
                                        {
                                            <option value="@cast_code.Value">@cast_code.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Store
                        </label>
                        <div class="col-sm-8">
                            <select id="store" name="store" class="form-control">
                                @{
                                    if (ViewBag.StoreData != null)
                                    {
                                        foreach (var store in ViewBag.StoreData)
                                        {
                                            <option value="@store.Value">@store.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Metals
                        </label>
                        <div class="col-sm-8">
                            <select id="metal" name="metal" class="form-control">
                                @{
                                    if (ViewBag.MetalTypes != null)
                                    {
                                        foreach (var metal in ViewBag.MetalTypes)
                                        {
                                            <option value="@metal.Value">@metal.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Brand
                        </label>
                        <div class="col-sm-8">
                            <select id="brand" name="brand" class="form-control">
                                <option value="">All</option>
                                @{
                                    if (ViewBag.BrandTypes != null)
                                    {
                                        foreach (var BRAND in ViewBag.BrandTypes)
                                        {
                                            <option value="@BRAND.Value">@BRAND.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Category
                        </label>
                        <div class="col-sm-8">

                            <select id="category" name="category" class="form-control">

                                @{
                                    if (ViewBag.CategoryData != null)
                                    {
                                        foreach (var category in ViewBag.CategoryData)
                                        {
                                            <option value="@category.Value">@category.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Sub Category
                        </label>
                        <div class="col-sm-8">
                            <select id="subcategory" name="subcategory" class="form-control">

                                @{
                                    if (ViewBag.SubCategoryData != null)
                                    {
                                        foreach (var subcat in ViewBag.SubCategoryData)
                                        {
                                            <option value="@subcat.Value">@subcat.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:8px;">
                <div class="col-md-4"><input type="checkbox" name="chkLayawaysUnpaid" id="chkLayawaysUnpaid" />&nbsp;Include Layaways and Special Orders</div>
                <div class="col-md-3">
                    <input type="checkbox" class="activateFormRefreshBtn" id="chkSeparateSM" name="chkSeparateSM" />&nbsp;Separate by Salesrep
                </div>
                <div class="col-md-3">
                    <input type="radio" value="rdoDateonly" class="activateFormRefreshBtn" id="rdoDateonly" name="rdoDateonly" /> Date
                    &nbsp;&nbsp;&nbsp;
                    <input type="radio" value="rdoPickupdate" class="activateFormRefreshBtn" id="rdoPickupdate" name="rdoDateonly" checked="checked" /> Pickup Date
                </div>
                <div class="col-md-2 text-right" style="padding-top: 8px;">
                    <input type="button" value="Reset" class="formsGlobalUniqueBtn btnResetFormValues" id="resetFormValues" />
                    <input type="button" id="btnFormResultsSearch" value="Refresh" class="refresh_btn refreshBtnDefault" />
                </div>
            </div>
        </div>


    </div>

    <div class="mt-4 white-box pos-rel" id="divDataTableReport">

        <div class="row col-md-6 report_buttons">
            <div style="margin:3px;">
                <input type="button" value="PDF" table-id="dataTableForSalesProfitPerStore" class="formsGlobalUniqueBtn btnDataTableDownloadPDF" id="btnPDF" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Excel" table-id="dataTableForSalesProfitPerStore" class="formsGlobalUniqueBtn btnDataTableDownloadExcel" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Preview" table-id="dataTableForSalesProfitPerStore" id="btnDataTablePreview" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Print" table-id="dataTableForSalesProfitPerStore" id="btnDataTablePrint" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;display:none;">
                <input type="button" value="Email" table-id="dataTableForSalesProfitPerStore" class="formsGlobalUniqueBtn" />
            </div>

            <div style="margin:3px;display:none;">
                <input type="button" value="Simple Excel" class="formsGlobalUniqueBtn" />
            </div>
        </div>
        <div class="row dataTableReport" id="printContent">
            <div><br /></div>
            <table id="dataTableForSalesProfitPerStore" class="dataTable display nowrap table" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center !important;">STORE NO</th>
                        <th style="text-align:center !important;">SALESMAN</th>
                        <th style="text-align:center !important;">TOTAL SALE</th>
                        <th style="text-align:center !important;">TOTAL COST</th>
                        <th style="text-align:center !important;">TOTAL PROFIT</th>
                        <th style="text-align:center !important;">GP PERCENT</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot id="tfooter">
                    <tr>
                        <th></th>
                        <th></th>
                        <th id="totalsale" class="text-right numericColumns"></th>
                        <th id="totalcost" class="text-right numericColumns"></th>
                        <th id="totalprofit" class="text-right numericColumns"></th>
                        <th id="totalpercent" class="text-right numericColumns"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#dataTableForSalesProfitPerStore').DataTable({
            dom: 'Blfrtip',
            searching: true,
            select: true,
            buttons: [],
            pageLength: 25,
            bInfo: false,
            aaSorting: [],
            columnDefs: [
                { className: "text-right", targets: [2,3, 4, 5] }
            ]
        });

        table.column(1).visible(false);

        $('#resetFormValues').on("click", function (e) {
            $("#cbFillFromToDates").prop("checked", true);
            fillFromToDates();
            $('#txtCustomerCode').val('');
            $('#chkAllCustomers').prop("checked", true);
            $('#txtFromStyle').val('');
            $('#txtToStyle').val('');
            $('#cmbVendor').prop('selectedIndex', 0);
            $('#metal').prop('selectedIndex', 0);
            $('#brand').prop('selectedIndex', 0);
            $('#category').prop('selectedIndex', 0);
            $('#subcategory').prop('selectedIndex', 0);
            $('#store').prop('selectedIndex', 0);
            $('#chkLayawaysUnpaid').prop('checked', false);
            $('#chkSeparateSM').prop('checked', false);
            $('#rdoPickupdate').prop('checked', true);

        });

        $('#chkAllCustomers').click(function () {

            if ($("#chkAllCustomers").prop('checked') == true) {
                $("#txtCustomerCode").val('');
                $("#txtCustomerCode").prop('disabled', 'disabled');
            } else {
                $("#txtCustomerCode").removeAttr("disabled");
            }
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#rdoDateonly').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#rdoPickupdate').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#chkSeparateSM').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#chkLayawaysUnpaid').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#store').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#chkSummaryByModel').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        $('#cmbVendor').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        $('#metal').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        $('#brand').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        $('#category').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        $('#subcategory').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });



        fillFromToDates();
    });

    function buttonStyleClassChange(btnId) {
        $('#' + btnId).removeClass('refreshBtnDefault').addClass('needToRefreshBtn');
        $('#' + btnId).val("Refresh *");
    }

    function existAutoFilledData() {

        $('#totalsale').html('');
        $('#totalcost').html('');
        $('#totalprofit').html('');
        $('#totalpercent').html('');


        if ($('#txtFromDate').val() != "")
            fromdate = $('#txtFromDate').val();
        else
            fromdate = "1990-01-01";

        if ($('#txtToDate').val() != "")
            todate = $('#txtToDate').val();
        else
            todate = "2099-12-31";



        var acc1 = $('#txtCustomerCode').val();

        if ($('#chkAllCustomers').prop('checked') == false) {
            if (acc1 == "") {
                alert("Customer Code Required.");
                return false;
            }

        }
        let bypicdate = "DATE";
        let rdt = $("input[name='rdoDateonly']:checked").val();
        if (rdt == "rdoPickupdate") {
            bypicdate = "PICKUPDATE";
        }

        var styleFrom = $('#txtFromStyle').val();
        var styleTo = $('#txtToStyle').val();
        var vendor = $('#cmbVendor').val();
        var metal = $('#metal').val();
        var brand = $('#brand').val();
        var category = $('#category').val();
        var subcategory = $('#subcategory').val();
        var store = $('#store').val();
        var ISLaySpe = $('#chkLayawaysUnpaid').prop("checked") ? true : false;
        var separateSm = $('#chkSeparateSM').prop("checked") ? true : false;


        var url = '@Url.Action("GetSalesProfitPerStore", "ListOfItemsSold", new { Area = "" })';

        var data = {
            Ccode: acc1,
            FROMDATE: fromdate,
            DateTo: todate,
            Category: category,
            SubCategory: subcategory,
            Metal: metal,
            Brand: brand,
            FromStyle: styleFrom,
            ToStyle: styleTo,
            Vendor: vendor,
            Store: store,
            WithGP: true,
            SeparateSM: separateSm,
            IsSalesCOG: false,
            ByWhichDate: bypicdate,
            IsLayaway: false,
            Sales: "",
            Monthproft: false,
            ISLaySpe: ISLaySpe
        };

        var table = $('#dataTableForSalesProfitPerStore').DataTable();
        table.clear().draw();

        if (separateSm) {
            table.column(1).visible(true);
        } else {
            table.column(1).visible(false);
        }

        var jqxhr = $.post(url, data, function () { })
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);


                var totalsale = 0;
                var totalcost = 0;
                var totalprofit = 0;
                var totalpercent = 0;
                var gp_percent = 0;

                for (var i = 0; i < json.length; i++) {
                    if (json[i].amount != "") {
                        totalsale = totalsale + json[i].amount;
                    }
                    if (json[i].cost != "") {
                        totalcost = totalcost + json[i].cost;
                    }
                    if (json[i].profit != "") {
                        totalprofit = totalprofit + json[i].profit;
                    }
                    if (json[i].gp_percent != "") {
                        totalpercent = totalpercent + json[i].gp_percent;
                    }

                    table.row.add([
                        json[i].store_no,
                        json[i].salesman ?? '',
                        formatCurrency(json[i].amount),
                        formatCurrency(json[i].cost),
                        formatCurrency(json[i].profit),
                        formatCurrency(json[i].gp_percent)
                        ]);


                }
                table.draw();

                if (totalsale != 0)
                    gp_percent = ((totalprofit * 100) / totalsale);

                $('#totalsale').html(formatCurrency(totalsale));
                $('#totalcost').html(formatCurrency(totalcost));
                $('#totalprofit').html(formatCurrency(totalprofit));
                $('#totalpercent').html(formatCurrency(gp_percent));


            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("GETSoldOrInstock Request Failed: " + err);
            });

    }

    function formatCurrency(total) {
        var neg = false;
        if (total < 0) {
            neg = true;
            total = Math.abs(total);
        }
        return (neg ? "-" : '') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
    }


</script>
<style>

    .table tfoot tr th {
        text-align: right !important;
        /* padding: 0px !important; */
    }

    /*.table tbody tr td {
        text-align: left !important;
    }

    table tbody tr td:nth-child(3) {
        text-align: right !important;
        padding: 0px !important;
    }

    table tbody tr td:nth-child(4) {
        text-align: right !important;
        padding: 0px !important;
    }

    table tbody tr td:nth-child(5) {
        text-align: right !important;
        padding: 0px !important;
    }

    table tbody tr td:nth-child(6) {
        text-align: right !important;
        padding: 0px !important;
    }

    .padding-left-zero {
        padding-left: 0px !important;
    }*/

    .text-right {
        text-align: right;
    }
</style>